.ReminderForm-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.ReminderForm-button {
  background-color: #069c26;
  border: 1px solid #069c26;
  padding: 6px;
  color: white;
  padding-left: 14px;
  padding-right: 14px;
}