.ReminderForm-section-form {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.ReminderForm-label {
  margin-right: 8px;
}

.ReminderForm-input {
  border: 1px solid gray;
  height: 18px;
  width: 200px;
}

.select {
  height: 22px;
}