@import url('https://fonts.googleapis.com/css?family=Manjari:100,400,700|Poppins:400,600,700&display=swap');

// Fonts
$font-family-poppins: 'Poppins', sans-serif;
$font-family-manjari: 'Manjari', sans-serif;

// Colors
$dark-blue: #388087;
$soft-blue: #6fb3b8;
$light-blue: #badfe7;
$light-green: #c2edce;
$light-beige: #f6f6f2;
$white: #ffffff;
$black: #000000;
$light-grey: #dfdfdf;